html, body {
    padding: 0;
    height: 100%;
    font-family: Helvetica;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#redmatic-versions, #ccu-versions,  #ccu-platforms {
    width: 480px;
    height: 480px;
}

.table {
    width: 480px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6px;
}

table td {
    padding: 2px;
}

tr:nth-child(odd) {
    background: #efefef;
}

.pie, .table {
    margin: 4px;
    padding: 0 10px;
    background-color: white;
}

.pie h3, .table h3 {
    text-align: center;
}

.count {
    text-align: right;
    width: 80px;
}