html, body {
    padding: 0;
    height: 100%;
    font-family: Monaco;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#redmatic-versions, #ccu-versions,  #ccu-platforms {
    width: 480px;
    height: 480px;
}

.pie {
    padding: 0 10px;
}

.pie h3 {
    text-align: center;
}